:root {
    // colors 
    --color-bg: #efefe;
    --color-text: #333;
    --color-accent: deeppink;

    --spacing: 1.25rem;

    // fonts
    --font-sans: 'Noto Sans', sans-serif;
    --font-serif: 'Noto Serif', serif;
    --font-size: 1rem;
    --font-weight: normal;
    --line-height: 1.2;
    
    // breakpoints 
    --bp-sm: 37.5rem;   // 600px
    --bp-md: 50rem;     // 800px
    --bp-lg: 62.5rem;   // 1000px
    --bp-xl: 75rem;     // 1200px
    
}

